<header>
    <nav class="navigation">
        <div class="qatar-logo" >          
         <img src="assets/Qatar-museums-Logo (2).png" alt="Qatar museums logo">
        </div>
    <ul class="nav-bar">
       
        <li class="nav-links">
            <a href=""> قــصـص
                <br>STORIES</a> 
        </li>        
        <li class="nav-links">
            <a href="">ماهوالجديد<br>
               {{ "what's on" |  upcase }}</a>
        </li>        
        <li class="nav-links">
            <a href="" class="">الـمـجـمـوعــة<br>
            {{ "collection" |  upcase }}</a>
        </li>        
        <li class="nav-links">
            <a href="">زيـارة<br>
            {{ "visit" |  upcase }}</a>
        </li>    
        
        <li class="ticket-link">
            <a href=""> {{ "tickets" |  upcase }}</a>
        </li>

        <li class="nav-links">
            <a href=""> {{ "members" |  upcase }}</a>
        </li>

        <li class="nav-links">
            <a href="">{{  "Venues" |  upcase}}</a>
        </li>

        <button class="menu-button"> {{ "menu" |  upcase }}</button>
    </ul>
    </nav>
</header>